.btn{
    display: block;
    color:  hsl(217, 44%, 52%);
    margin-left: 8px;
    padding-bottom: 12px;
    margin-top: 12px;
    border-bottom: 2px solid #ddd6d6;
}


.btn:hover{
    color: white;
}

.btn:first-of-type{
    margin-top: 36px;
    border-top: 2px solid #ddd6d6;
    padding-top:12px ;
   
}

#aside-toolbar{
    transition: display 2s;
}